PORT=3000
NODE_ENV=development

LEMON_LICENSE_API_BASE=https://api.lemonsqueezy.com/v1/licenses
LEMON_WEBHOOK_SECRET=replace_me

ALLOWED_EXTENSION_IDS=
ALLOWED_ORIGINS=

LEMON_PRODUCT_ID=
LEMON_MONTHLY_VARIANT_ID=
LEMON_YEARLY_VARIANT_ID=

STRICT_EMAIL_MATCH=false
DB_PATH=./data/license.sqlite
